html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 13vh;
}

main {
  /* Rimuovo margin-top per evitare interferenze con il layout flex */
  /* margin-top: var(--header-height); */
}