html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 13vh;
  --title-color: #f1e600;
  --green-main: #61bb83;
  --color-main: #281b44;
  background-color: var(--color-main);
}

main {
  /* Rimuovo margin-top per evitare interferenze con il layout flex */
  /* margin-top: var(--header-height); */
}