.chip {
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid;
    font-size: 22px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: 3rem;
    color: white;
}

@media (min-width: 640px) {
    .chip {
        min-width: 100px;
    }
}

.selected {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #fff;
}

.default {
    background-color: rgba(232, 50, 138, 0.15);
    border-color: var(--accent-color);
}

.default:hover {
    background-color: var(--accent-color);
}
