.chip {
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-size: 22px;
    cursor: pointer;
    height: 3rem;
    color: white;
}

@media (min-width: 640px) {
    .chip {
        min-width: 100px;
    }
}

.selected {
    background-color: #5a4e33;
    border-color: #facc15;
    color: var(--title-color);
}

.default {
    background-color: #5e5473;
    border-color: rgba(255, 255, 255, 0.5);
}

.default:hover {
    background-color: #5a4e33;
}