.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}

/*------------------------------------------------- Media Queries -------------------------------------------------*/

/* Mobile (fino a 768px) */
@media (max-width: 768px) {
    .container {
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 2rem;
    }

}