@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header_container {
    position: fixed;
    width: 100%;
    color: white;
    background-color: var(--color-main);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: var(--header-height);
}

.header_container.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.header_container.hidden {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
        visibility 0s 0.5s;
}

.left_links {
    display: flex;
    gap: 8rem;
}

.logo_container {
    flex: 0 0 auto;
}

.logo_container img {
    width: 50px;
}

.right_container {
    display: flex;
    align-items: center;
}

.right_links {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.5dvh;
    transition: color 0.3s;
}

.joinButton {
    background-color: #5e5473;
    color: #fff;
    border: solid 1px white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 0.5dvh;
    font-weight: 500;
}

.joinButton:hover {
    background-color: #5a4e33;
}


.shopLink {
    position: relative;
    color: rgba(255, 255, 255, 0.496);

    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.5dvh;
    cursor: not-allowed;

}

.lockIcon {
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--title-color);
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 1rem;
}

.hamburger_line {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.mobile_menu {
    display: none;
}

/*-------------------------------- Media Queries --------------------------------------*/
@media (max-width: 768px) {

    .left_links,
    .right_links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile_menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 0rem;
    }

    .mobile_menu.open {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .mobile_left_links,
    .mobile_right_links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    .joinButton {
        width: 60%;
        padding: 0.75rem;
    }

    .shopLink {
        font-size: 20px;
    }

    .lockIcon {
        font-size: 1rem;
        top: -8px;
        right: -8px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .left_links,
    .right_links {
        gap: 1.5rem;
    }

    .joinButton {
        padding: 0.4rem 0.8rem;
    }

    .shopLink {
        font-size: 20px;
    }
}

@media (min-width: 1025px) {
    .mobile_menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
}