.sectionJoinUs {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--accent-color);
    padding: 5rem;
    margin-top: 2rem;
}

.title_section {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--font-family-titles);
    color: white;
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
}

.description {
    font-size: 1.325rem;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    margin: 0 auto;
    max-width: 705px;
}

.joinButton {
    background-color: #ffffff40;
    border-color: rgba(255, 255, 255, 0.5);

    font-weight: 700;
    padding: 0px 25px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-size: 26px;
    cursor: pointer;
    height: 3rem;
    color: white;
    margin-bottom: 2rem;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
}

.joinButton:hover {
    background-color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    color: var(--accent-color);
    scale: 1.05;
}


/*-------------------------------------------- Media Queries ---------------------------------------------*/
@media (max-width: 768px) {


    .description {
        font-size: 1rem;
    }

    .title_section {
        font-size: 3rem;
    }


}

@media (max-width: 498px) {
    .title_section {
        font-size: 2.5rem;
    }

    .joinButton {
        padding: bottom
    }
}