.title_section {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--font-family-titles);
    color: white;
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
}