.section_scrolling_text {
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.scrollContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1rem 0;
}

.scrollText {
    display: inline-block;
    font-weight: 500;
    animation: scrollLeft 20s linear infinite;
}

.scrollText span {
    margin-right: 2rem;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

/*-------------------------------------------------- Media Queries-----------------------------------  */
@media (max-width: 768px) {
    .scrollContainer {
        padding: 0.5rem 0;
    }

    .scrollText {
        font-size: 1.2rem;
        animation-duration: 15s;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .scrollText {
        font-size: 1.4rem;
    }
}

@media (min-width: 1025px) {
    .scrollText {
        font-size: 1.5rem;
    }
}